
<div id='payment'>
  <div class="valign-wrapper"></div>
    <h2 class="header center orange-text">Account Center</h2>
    <div class="row">
      <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div >
          <table class="light-blue lighten-1">
            <thead>
              <tr>
                <td align="center" class='white-text'>My Balance</td>
                <td align="center" class='white-text'>Family's total</td>
                <td align="center" class='white-text'>Family's available</td>
              </tr>
            </thead>
            <tbody>
              <tr class="white">
                <td align="center" class='light-blue-text text-lighten-1'>{{yourBalance | currency}}</td>
                <td align="center" class='light-blue-text text-lighten-1'>{{groupTotal | currency}}</td>
                <td align="center" class='light-blue-text text-lighten-1'>{{groupAvailable | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="container row " ng-show="!(loading) && yourBalance >= 0"> 
      <div class="input-field col s12 m4 offset-m4">
        <select>
          <option value="" disabled selected>I want to ...</option>
          <option class="deposit" value="1">Deposit Money</option>
          <option class="withdraw" value="2">Withdraw Money</option>
          <option class="loan" value="3">Get a Loan</option>
        </select>
      </div>
    </div>

    <form class="col s12" ng-submit="makeDeposit(depositAmount, pin)" ng-if="!(loading) && deposit">
      <div class="container row"> 
        <div class="input-field col s12 m4 offset-m4">
          <input type="number" class="validate" min="1" ng-model="depositAmount">
          <label data-error="minimum deposit: 1">Deposit Amount</label>
        </div>
        <div class="input-field col s12 m4 offset-m4">
          <input type="password" class="validate" pattern="[0-9]{4}" ng-model="pin">
          <label data-error="pin must be 4 digits">4 Digit Dwolla Pin</label>
        </div>
        <button type="submit" ng-show="false">Submit</button>
        </button>
      </div>
    </form>


    <div class="container row" ng-if="!(loading) && withdraw"> 
      <form class="col s12" ng-submit="makeWithdraw(withdrawAmount, pin)">
        <div class="input-field col s12 m4 offset-m4">
          <input type="number" class="validate" min="0" max="{{canWithdraw}}" ng-model="withdrawAmount">
          <label data-error="maximum withdraw: {{canWithdraw}}">Withdraw Amount</label>
        </div>
        <div class="input-field col s12 m4 offset-m4">
          <input type="password" class="validate" pattern="[0-9]{4}" ng-model="pin">
          <label data-error="pin must be 4 digits">4 Digit Dwolla Pin</label>
        </div>
        <button type="submit" ng-show="false">Submit</button>
        </button>
      </form>
    </div>





    <div class="container row" ng-if="!(loading) && loan"> 
      <form class="col s12" ng-submit="getLoan(principle, duration)" >
        <div class="input-field col s6 m4 offset-m2">
          <input type="number" class="validate" min="0" max="{{groupAvailable}}" ng-model="principle">
          <label data-error="maximum principle: {{groupAvailable}}">loan principle</label>
        </div>
        <div class="input-field col s6 m4" ng-show="loan">
          <input type="number" class="validate" min="1"  max="360" ng-model="duration">
          <label data-error="must be between 1 and 360 months">duration (months)</label>
        </div>
        <button type="submit" ng-show="false">Submit</button>
        </button>
      </form>
    </div>


    <form class="col s12" ng-submit="pay(paymentAmount, pin)" ng-if="!(loading) && yourBalance < 0">
      <div class="container row"> 
        <div class="input-field col s12 m4 offset-m4">
          <input type="number" class="validate" min="0" ng-model="paymentAmount">
          <label>Loan Payment Amount:</label>
        </div>
        <div class="input-field col s12 m4 offset-m4">
          <input type="password" class="validate" pattern="[0-9]{4}" ng-model="pin">
          <label data-error="pin must be 4 digits">4 Digit Dwolla Pin</label>
        </div>
        <button type="submit" ng-show="false">Submit</button>
      </div>
    </form>

    <!-- loading -->
    <div class="waiting col s12 m4 center">
      
      <div class="preloader-wrapper big active center" ng-if="loading">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

    </div>


    <div class"success" ng-if="done">
      <h4>
        <i class="material-icons">done</i>
      </h4>
      <h3>
        {{message}}
      </h3>  
    </div>

    <div class="row">
      <div class="isa_success col s12 m6 offset-m3 l4 offset-l4" ng-if="isDone">
        <i class="material-icons">done</i>
        {{successMessage}}
      </div>
    </div>


</div>